.buyHeader{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  width: 100%;
  justify-content: center;
  margin: 15px 0;
  .link{
    text-decoration: none;
    color: #833AE0;
    font-size: 24px;
    margin-left: 85px;
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    align-self: center;
  }
  .name{
    max-width: 100%;
    display: flex;
    align-self: center;
    justify-self: center;
    color: #2FC20A;
    font-size: 48px;
    span{
      max-width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      height: max-content;
    }

  }

  .popupBack {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: #7777777e;
    width: 100vw;
    height: 100vh;
  }

  .cahartImgDiv {
    display: flex;
    align-items: center;
    height: 100%;
  }
}
.buyContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  .price{
    font-size: 30px;
    line-height: 14px;
    margin: 66px 0 50px 0;
  }
  .amount{
    font-size: 20px;
    line-height: 14px;
    margin: 40px 0 40px 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .buy{
    width: 170px;
    height: 49px;
    border: 3px solid #833AE0;
    box-sizing: border-box;
    border-radius: 49px;
    background-color: white;
    color: #833AE0;
    font-size: 24px;
    line-height: 24px;
    cursor: pointer;
    transition: all .1s linear;
    &:hover{
      color: white;
      background-color: #833AE0;
    }
  }
}