.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 90%;
    width: 100%;

    .loadingElement {
        width: 80px;
        height: 80px;
        img {
            width: 100%;
            opacity: 1;
        }
    }
}

@keyframes round {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}
