html,
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.search-container{
  position: relative;
}

.search-svg{
  position: absolute;
  left: 20px;
  top: 20px;
}
